<div class="container">
    <div class="content">
        <form [formGroup]="form" class="column">
            <h1>Update Movie</h1>
            <div class="data-container">
                <span class="mb-1">Movie name: {{data.name}}</span>
                <span class="mb-1">Gender: {{data.movieGender}}</span>
                <span class="mb-1">Type: {{data.movieType}}</span>
            </div>
            <mat-slide-toggle formControlName="markAsView">Mark as View</mat-slide-toggle>
            <mat-form-field class="input-login">
                <mat-label>Score</mat-label>
                <input matInput formControlName="score" type="number">
            </mat-form-field>
            <div class="btn-block">
                <button mat-raised-button color="primary" class="btn-form" (click)="onSubmit()"
                    mat-dialog-close>Update</button>
                <button mat-raised-button color="accent" class="btn-form" (click)="closeDialog()"
                    mat-dialog-close>Cancel</button>
            </div>
        </form>
    </div>
</div>