<div class="container-login">
    <div class="content">
        <h1>Register</h1>
        <form [formGroup]="registerForm" class="column" (ngSubmit)="submit()">
            <mat-form-field class="input-login">
                <mat-label>Name*</mat-label>
                <input matInput formControlName="fullName" type="text">
            </mat-form-field>
            <mat-form-field class="input-login">
                <mat-label>Document Type*</mat-label>
                <input matInput formControlName="documentType" type="text">
            </mat-form-field>
            <mat-form-field class="input-login">
                <mat-label>Document Id*</mat-label>
                <input matInput formControlName="documentId" type="text">
            </mat-form-field>
            <mat-form-field class="input-login">
                <mat-label>Email*</mat-label>
                <input matInput formControlName="email" type="email">
            </mat-form-field>
            <mat-form-field class="input-login">
                <mat-label>Password*</mat-label>
                <input matInput formControlName="password" type="password">
            </mat-form-field>
            <div class="btn-block">
                <button mat-raised-button color="primary">Register</button>
            </div>
            <a class="link-end" [routerLink]="['/auth']">
                ¿Do you have an account? Enter here
            </a>
        </form>
    </div>
</div>