@import "../../movies.component.scss";

.search-add {
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.addButton {
    width: 100px;
    min-width: 50px;
    border-radius: 50px;
    max-width: 200px;
}

:host::ng-deep {

    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
        padding: 0;
        min-width: 100px;
    }

    th.mat-header-cell {
        text-align: center;
        background: aliceblue;
    }

    .mat-paginator-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 8px;
        flex-wrap: wrap-reverse;
        width: 100%;
        min-width: 100px;
    }
}