<div class="container">
    <div class="container-table column">
        <div class="search-add">
            <mat-form-field class="search">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilterTable($event)" #input>
            </mat-form-field>
            <button mat-raised-button color="primary" class="addButton" (click)="addMovie()">Add</button>
        </div>
        <table mat-table [dataSource]="movieTable">
            <ng-container matColumnDef="{{header}}" *ngFor="let header of headerTable;">
                <!--If header is different to action, then the column has sort-->
                <ng-container *ngIf="header!=='actions'">
                    <th mat-header-cell class="p-3" *matHeaderCellDef>
                        {{header | uppercase}}</th>
                    <td mat-cell class="p-2" *matCellDef="let element">
                        {{element[header]}}
                    </td>
                </ng-container>
                <!--If header is equal to action, then the column has not sort-->
                <ng-container *ngIf="header==='actions'">
                    <th mat-header-cell class="p-3" *matHeaderCellDef>
                        {{header | uppercase}}</th>
                    <td mat-cell class="p-1" *matCellDef="let element">
                        <button mat-icon-button (click)="getAction(element, 'view')">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button (click)="getAction(element, 'update')">
                            <mat-icon>mode_edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

            </ng-container>
            <tr mat-header-row *matHeaderRowDef="headerTable"></tr>
            <tr mat-row *matRowDef="let row; columns: headerTable;"></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator #TablePaginator [pageSizeOptions]="[5, 10, 15]">
        </mat-paginator>
    </div>
</div>