@import "src/styles";

.container {
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;

    .container-info {
        width: 60%;
        height: content-box;
        background: aliceblue;
    }

    .container-auth {
        width: 40%;
        background: #fafafa;
    }
}

.container-login {
    height: auto;
    width: 100%;
    padding-top: 20%;
    display: flex;
    justify-content: center;
    text-align: center;

    .content {
        flex-direction: column;
        width: 80%;

        img {
            padding-bottom: 10%;
        }

        .column {
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;

            .input-login {
                width: 100%;
            }
        }
    }
}

::ng-deep.mat-raised-button {
    width: 100% !important;
    border-radius: 200px !important;
}

.btn-block {
    padding-top: 10%;
    padding-bottom: 10%;
}

.link-end {
    padding-bottom: 30%;
}