<div class="container-login">
    <div class="content">
        <h1>Enter a Movies Alternova</h1>
        <form [formGroup]="loginForm" class="column" (ngSubmit)="submit()">
            <mat-form-field class="input-login">
                <mat-label>Email*</mat-label>
                <input matInput formControlName="email" type="email">
            </mat-form-field>
            <mat-form-field class="input-login">
                <mat-label>Password*</mat-label>
                <input matInput formControlName="password" type="password">
            </mat-form-field>
            <div class="btn-block">
                <button mat-raised-button color="primary">Enter</button>
            </div>
            <a class="link-end" [routerLink]="['/register']">
                Don´t you have an account? Create one here
            </a>
        </form>
    </div>
</div>