<div class="container">
    <div class="content">
        <form [formGroup]="form" class="column">
            <h1>Create Movie</h1>
            <mat-form-field class="input-login">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" type="text">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Gender</mat-label>
                <mat-select>
                    <mat-option *ngFor="let gender of movieGenders" [value]="gender.value">
                        {{gender.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Type</mat-label>
                <mat-select>
                    <mat-option *ngFor="let movie of movieTypes" [value]="movie.value">
                        {{movie.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-slide-toggle formControlName="markAsView">Mark as View</mat-slide-toggle>
            <mat-form-field class="input-login">
                <mat-label>Score</mat-label>
                <input matInput formControlName="score" type="number">
            </mat-form-field>
            <div class="btn-block">
                <button mat-raised-button color="primary" class="btn-form" (click)="onSubmit()"
                    mat-dialog-close>Create</button>
                <button mat-raised-button color="accent" class="btn-form" (click)="closeDialog()"
                    mat-dialog-close>Cancel</button>
            </div>
        </form>
    </div>
</div>