.container {
    padding-top: 10%;
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;

    @media screen and (max-width: 1024px) {
        padding-top: 15%;
    }
}

.content {
    flex-direction: column;
    width: 80%;
    min-width: 100px;
}

.column {
    margin: 5% 10% 5% 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    overflow: auto;
}

.btn-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-form {
    width: 45%;
    border-radius: 20px;
    margin-top: 5%;
    min-width: 100px;
}

::ng-deep {
    .mat-dialog-container {
        background: #fafafa;
    }
}