<div class="container">
    <div class="content">
        <div class="column">
            <h1>View Movie</h1>
            <div class="data-container">
                <span class="mb-1">Movie name: {{data.name}}</span>
                <span class="mb-1">Gender: {{data.movieGender}}</span>
                <span class="mb-1">Type: {{data.movieType}}</span>
                <span class="mb-1">Number Views: {{data.viewNumber}}</span>
                <span class="mb-1">Score: {{data.score}}</span>
            </div>
            <div class="btn-block">
                <button mat-raised-button color="accent" class="btn-form" (click)="closeDialog()"
                    mat-dialog-close>Close</button>
            </div>
        </div>
    </div>
</div>