.toolbar-container {
    background: aliceblue;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.drawer-container {
    width: 100%;
    height: auto;
    min-height: 100%;
}

mat-toolbar {
    width: 100%;
    position: fixed;
    background: transparent;
    z-index: 3;
}

@mixin position-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-link {
    @include position-link();
    padding-top: 40%;
    font-size: 15px;
    align-content: center;
    height: 30%;
    width: 150px;
    color: green;
}

.mat-drawer {
    background-color: aliceblue;
    color: black
}

.button-exit {
    background: transparent;
    border: 0 solid;
    width: 100%;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-exit-toolbar {
    background: transparent;
    border: 0 solid;
    width: 100%;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
}