<mat-drawer-container class="drawer-container">
    <mat-drawer #drawer>
        <button mat-icon-button class="button-drawer" (click)="drawer.toggle()" #hasBackdrop value="true">
            <mat-icon class="icon-drawer">menu</mat-icon>
        </button>
        <div class="container-link">
            <Button class="button-exit" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>Exit
            </Button>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar class="toolbar-container">
            <button mat-icon-button class="hamburger-button" (click)="drawer.toggle()" #hasBackdrop value="true">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Alternova Movies</span>
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>{{name}}</button>
                <button mat-menu-item>{{email}}</button>
                <Button class="button-exit-toolbar" (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>Exit
                </Button>
            </mat-menu>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>